CauseCure.xcodeproj/xcuserdata/user188094.xcuserdatad/
	CauseCure.xcworkspace/xcuserdata/user188094.xcuserdatad/
	Pods/FirebaseFirestore/Firestore/core/src/local/query_engine.cc
	Pods/Pods.xcodeproj/xcuserdata/user188094.xcuserdatad/
	Pods/Target Support Files/GoogleUtilities/GoogleUtilities-prefix.pch