<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47997853999-0cac7g24h769ksvaailbd1rsdi7m4f7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47997853999-0cac7g24h769ksvaailbd1rsdi7m4f7t</string>
	<key>API_KEY</key>
	<string>AIzaSyCAWT4zas-d-IqMBC6eY9MGe9t6FBL_xz0</string>
	<key>GCM_SENDER_ID</key>
	<string>47997853999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GameCure.CauseCure.tc</string>
	<key>PROJECT_ID</key>
	<string>gamecuredev</string>
	<key>STORAGE_BUCKET</key>
	<string>gamecuredev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47997853999:ios:7f4540837408d52fd781da</string>
</dict>
</plist>