<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889169956517-0dlh8mo5tsufeafev83vhko1brh2gsfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889169956517-0dlh8mo5tsufeafev83vhko1brh2gsfi</string>
	<key>API_KEY</key>
	<string>AIzaSyAtRKqMp8Xlz2d6LjFaVTAI8GDzYMJkK-s</string>
	<key>GCM_SENDER_ID</key>
	<string>889169956517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.GameCure</string>
	<key>PROJECT_ID</key>
	<string>gamecure-81680</string>
	<key>STORAGE_BUCKET</key>
	<string>gamecure-81680.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889169956517:ios:9fdac67327fe0fda0ac74c</string>
</dict>
</plist>